@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
$wh-color: #FFFFFF;
$hov-color: #d1d1d1;
$bg-linear-one: rgb(95, 64, 207);
$bg-linear-two: rgb(45, 0, 128);
$sec3BG: #040221;
$bgCardHover: #000000b0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins";
  box-shadow: none;
  text-transform: capitalize;

}

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  font-size: 62.5%;

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0E0C38;


}


.container {
  padding: 2% 3%;
  max-width: 100%;
}





.navHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // z-index: 1;



}

.navbar-brand {
  font-size: clamp(1.7rem, 4vw, 5.1rem);
  color: #FFFFFF;
  text-decoration: none;

}


.nav-item a:first-child::before {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: #FF0513;
  width: 10rem;
  height: 11.7rem;
  left: -30%;
  transform: translateY(-2.7rem);

}

.nav-item a:first-child::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: #FF0513;
  width: 10rem;
  height: .1rem;
  bottom: -.5rem;
  left: -30%;


}

.nav-item {
  display: inline-flex;

}

.nav-item a {
  color: #FFFFFF;
  font-size: 2rem;
  text-transform: capitalize;
  margin: 0 2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

}

.nav-item button {
  color: #FFFFFF;
  stroke-width: 2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 100;
  stroke-dashoffset: 0%;
  width: 202px;
  height: 7rem;
  border: white solid 2px;
  border-radius: 4.5rem;
  font-size: 2.2rem;
  transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  background: none;
  cursor: pointer;
}

.nav-item button:hover {
  background-color: #FFFFFF;
  color: red;
}

.nav-item :hover {
  color: #d1d1d1;
}

.nvBtns {
  display: none;
}

@media screen and (max-width: 768px) {

  .nvBtns {
    display: block;
    position: relative;
    margin-left: auto;
    z-index: 9999;

  }

  .afterClick {
    position: fixed;
    right: 5%;
    top: 5%;
    z-index: 99999;


  }

  .nvBtn {
    background-color: $wh-color;
    width: 2rem;
    height: .1rem;
    position: relative;
    right: 0%;
    margin: .6rem;
    display: block;
    transition: all .5s ease-in-out;

  }

  .nav-item a {
    margin-bottom: 3%;
    opacity: 0;
    transition: 0.3s ease-in-out;

  }

  .nav-item {
    position: fixed;
    display: grid;
    justify-items: center;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    background: linear-gradient(to top right, $bg-linear-one, $bg-linear-two);
    width: 100%;
    height: 120%;
    min-height: 50%;
    -webkit-clip-path: circle(0px at 50%);
    clip-path: circle(0px at 50%);
    transition: all 1s ease-in-out;
    visibility: hidden;
    margin-top: -1%;
    z-index: 1111;

  }

  .nav-item a.fade {
    opacity: 1;
  }

  .nav-item.open {
    -webkit-clip-path: circle(100%);
    clip-path: circle(100%);
    visibility: visible;

  }

  .nvBtn.AnimNvBtn {

    &:nth-child(2) {
      display: none;
    }

    &:nth-child(1) {
      transform: translate(-40%, 300%) rotate(50deg);
    }

    background-color: red;

    &:nth-child(3) {
      transform: translate(-45%, -400%) rotate(119deg);
      background-color: red;
    }

  }

  .fa-arrow-circle-down {
    display: block;
  }

  .layaer {
    display: none;
  }

  .nav-item a:first-child::before {
    content: none;

  }

  .nav-item a:first-child::after {
    content: none;


  }
}


@media screen and (max-width: 1200px) {
  .layaer {
    display: none;
  }
}

@media screen and (min-width: 1329px) {
  .layaer {
    display: none;
  }
}

.layaer {
  width: clamp(1rem, 23vw, 60rem);
  overflow: hidden;
  z-index: 1;
  position: absolute;
  transform: translateX(67%);
  -moz-transform: translateX(67%);
  -ms-transform: translateX(67%);
  -o-transform: translateX(67%);
  -webkit-transform: translateX(67%);

}

#section--2 {
  background: linear-gradient(0deg, $sec3BG 30%, $bg-linear-two 60%);
  ;
  width: 100%;
  height: auto;
  padding: 10% 0% 0% 0%;
  overflow: hidden;

}

.myImage {
  position: relative;
  width: 105%;
  margin-left: -2.5%;
  // height: 100vh;
  padding: 60% 0%;
  background-image: url(assets/img/me2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
  opacity: .7;
  box-shadow: inset black 0px 0px 35px 10px, black 0px 0px 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;

  img {
    width: clamp(3rem, 10vw, 10vw);
    position: absolute;
    top: 10%;
    left: 10%;
    animation: EarthRotate 25s infinite linear;
    // filter: drop-shadow(-15px -25px 10px  black) ;
  }

}

@keyframes EarthRotate {

  from {
    transform: rotate(0deg);
    filter: hue-rotate(0deg) drop-shadow(-15px -25px 10px black);
  }

  to {
    transform: rotate(360deg);
    filter: hue-rotate(360deg) drop-shadow(-15px -25px 10px black);
  }


}

.myText {
  height: auto;
  color: $wh-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  word-wrap: break-word;
  position: relative;

  h4 {
    font-size: clamp(.8rem, 1.5vw, 1.5vw);
    text-align: center;
    font-weight: 300;
    opacity: .7;
    position: relative;

    span {
      color: rgb(255, 0, 0);
    }
  }

  h1 {
    font-size: clamp(3rem, 4vw, 4vw);
    text-align: center;

  }
}

.socialBtn {
  margin-top: 14%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;

  i {
    color: $wh-color;
    transition: all .2s ease-in-out;
    font-size: clamp(3.5rem, 4vw, 4vw);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    padding: 1rem;

    &:nth-child(1) {
      cursor: url(assets/img/icons8-twitter-circled-96.png) 40 40, auto;
    }

    &:nth-child(2) {
      cursor: url(assets/img/icons8-instagram-96.png) 40 40, auto;
    }

    &:nth-child(3) {
      cursor: url(assets/img/icons8-facebook-96.png) 40 40, auto;
    }

    &:hover {
      color: #ff0000;
    }
  }
}

#section--3 {
  background-color: $sec3BG;
  width: 100%;
  height: auto;
  padding: 3% 0%;
}

.aboutSection {
  margin-top: 10%;


}

.sec3Content {
  h1 {
    color: $wh-color;
    font-size: clamp(1.7rem, 4vw, 4vw);
    font-weight: 400;
  }

  p {
    color: $wh-color;
    font-size: clamp(.8rem, 1.3vw, 1.3vw);
    font-weight: 200;
    opacity: .6;

  }

}

.devimg {
  width: 100%;
  height: 100%;
  min-height: clamp(20vh, 50vw, 50vh);
  border: clamp(1.5rem, 3vw, 3rem) #0E0C38 solid;
  padding: 1rem;
  background-image: url(assets/img/1602738901601.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


#section--4 {
  width: 100%;
  height: auto;
  background-color: $sec3BG;
  position: relative;
  padding: 3% 0%;


}

.portSectionH {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  h1 {
    color: $wh-color;
    font-size: clamp(3.5rem, 4.5vw, 4.5vw);
    font-weight: 400;

    &::after {
      content: '';
      background-color: red;
      width: clamp(1.5rem, 19vw, 19vw);
      height: 1px;
      position: absolute;
      margin-left: 2.5%;
      bottom: 40%;


    }
  }
}

.portBtn {

  button {
    stroke: #FFFFFF;
    stroke-width: 2px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 100;
    width: clamp(2.9rem, 4vw, 4vw);
    height: clamp(2.9rem, 4vw, 4vw);
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    color: $wh-color;
    margin-left: .5rem;
    cursor: pointer;
    transition: all .5s ease-in-out;




  }

  button.btnActive {
    background-color: #FF0513;

  }
}

.portHeaderLinks {
  margin-bottom: 5%;

  a {
    color: $wh-color;
    margin-right: 1rem;
    text-decoration: none;
    text-transform: capitalize;
    font-size: clamp(1rem, 1.5vw, 1.5vw);
    font-weight: 300;
    opacity: .7;
    transition: all .3s ease-in-out;


  }

  a.activedLink {
    color: #ff0000;
    opacity: 1;
  }
}

.sec4Content {
  padding: 2.5%;
  border-radius: 2rem;
  overflow: hidden;
}



.hovCtext {
  position: absolute;
  padding: 5%;
  opacity: 0;

  transform: translateY(10%);
  transition: all .5s ease-in-out .4s;
  -webkit-transition: all .5s ease .4s;
  -moz-transition: all .5s ease .4s;
  -ms-transition: all .5s ease .4s;
  -o-transition: all .5s ease .4s;

  h1 {
    color: $wh-color;
    font-size: clamp(2.5rem, 2vw, 2vw);
    font-weight: 500;

    &::before {
      content: '';
      background-color: #ff0000;
      width: clamp(.1rem, 100%, 7%);
      height: 1px;
      position: absolute;
      left: 0%;
      top: 40%
    }
  }

  p {
    color: $wh-color;
    font-size: clamp(1.5rem, 1vw, 1vw);
    font-weight: 300;

  }

}



.card {
  height: 100%;
  width: 100%;
  padding: 80% 0% 0% 0%;
  border-radius: 2.5rem;
  background-image: url(assets/img/comeingsoon.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  overflow: hidden;
  color: $wh-color;
  transition: all 0.5s ease-in-out;
  position: relative;

  h1 {
    font-size: clamp(2.5rem, 2vw, 2vw);
    margin: 4%;
    position: absolute;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    bottom: 9%;
  }

  p {

    font-size: clamp(1rem, 1vw, 1vw);
    margin: 4%;
    position: absolute;
    opacity: 0;
    transition: all 0.8s ease-in-out;
    bottom: 1%;
  }

  &:hover {
    h1 {
      opacity: 1;
      // transform: translateY(450%);

    }

    p {
      opacity: 1;

    }

    .ctext {

      transform: translateY(-100%);
      opacity: 1;

    }

  }
}

.ctext {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $bgCardHover;
  transform: translateY(-80%);
  opacity: 0;
  transition: all 0.8s ease-in-out;

}


.customBTN1 {
  color: #FFFFFF;
  stroke-width: 2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 100;
  stroke-dashoffset: 0%;
  width: clamp(3rem, 100%, 30%);
  padding: 3%;
  margin: 3%;
  border: white solid 2px;
  border-radius: 4.5rem;
  font-size: 1rem;
  transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  background: none;
  cursor: pointer;

  &:hover {
    background-color: #FFFFFF;
    color: #FF0513;
  }


}


#section--5 {
  width: 100%;
  height: auto;
  position: relative;
  padding: 3% 0%;

}

.headerTitle {
  padding: 2rem 0rem;

  h1 {
    color: #FFFFFF;
    font-size: clamp(2rem, 4vw, 4rem);
    text-align: center;
    font-weight: 600;
    position: relative;

    &::after {
      content: '';
      width: clamp(3.5rem, 20vw, 20rem);
      height: 1px;
      background-color: red;
      position: absolute;
      bottom: -50%;
      left: 50%;
      transform: translate(-50%, -50%);



    }
  }
}

.s5headerText {
  color: $wh-color;
  font-size: clamp(.5rem, 1.5vw, 1.5rem);
  padding: 0rem 3rem;
  text-align: center;
  line-height: 200%;
  font-weight: 300;
  opacity: .7;
  margin-bottom: 10rem;
  margin-top: 3%;

}

.s5contentTextSide {
  display: grid;
  place-items: center;

  p {
    margin-top: 5rem;
    color: $wh-color;
    padding: 0rem 3rem;
    text-align: left;
    font-size: clamp(.8rem, 2vw, 3.0rem);
    opacity: .7;
  }
}

.s5contentAnimationSide {
  margin-top: 6rem;
  display: grid;
  place-items: center;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

}





#img1 {
  width: clamp(6rem, 10vw, 10rem);
  height: clamp(6rem, 10vw, 10rem);
  border-radius: 50%;
  position: absolute;
  top: -20%;
  right: 8%;
  border: clamp(.1rem, 1vw, .7rem) solid #FF0513;
}

#img2 {
  width: clamp(5rem, 7vw, 7.6rem);
  height: clamp(5rem, 7vw, 7.6rem);
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 10%;
}

#img3 {
  width: clamp(4rem, 6vw, 6rem);
  height: clamp(4rem, 6vw, 6rem);
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 50%;
}

#img4 {
  width: clamp(2.5rem, 4vw, 4rem);
  height: clamp(2.5rem, 4vw, 4rem);
  border-radius: 50%;
  position: absolute;
  bottom: 35%;
  left: 25%;
}

#img5 {
  width: clamp(6rem, 10vw, 10rem);
  height: clamp(6rem, 10vw, 10rem);
  border-radius: 50%;
  position: absolute;
  bottom: 0%;
  left: 40%;
}

#img6 {
  width: clamp(5rem, 7vw, 7.6rem);
  height: clamp(5rem, 7vw, 7.6rem);
  border-radius: 50%;
  position: absolute;
  bottom: 0%;
  right: 23%;
}

#section--6 {
  background-color: $sec3BG;
  padding-top: 10%;
  position: relative;
  overflow: hidden;
  padding: 3% 0%;

}

.s6headerTitle {
  padding: 2rem 0rem;
  overflow: hidden;


  h1 {
    color: #FFFFFF;
    font-size: clamp(2rem, 4vw, 4vw);
    text-align: center;
    font-weight: 600;


    &::after {
      content: '';
      width: clamp(5.5rem, 13vw, 13rem);
      height: 1px;
      background-color: red;
      position: absolute;
      top: 3%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);


    }
  }
}

.s6headerText {
  color: $wh-color;
  font-size: clamp(.5rem, 1.5vw, 1.5vw);
  padding: 0rem 3rem;
  text-align: center;
  line-height: 200%;
  font-weight: 200;
  opacity: .7;
  margin-bottom: 10rem;
  margin-top: 1%;


}


.formSection {
  transform: translateY(-10%);

  form {
    width: 100%;
    display: grid;
    place-items: center;

    input {
      width: 100%;
      margin: 1% 0%;
      padding: 3%;
      opacity: .8;
      border-radius: 3px;
    }

    textarea {
      margin-top: 1%;
      width: 100%;
      height: 13rem;
      padding: 2%;
      opacity: .8;
      border-radius: 3px;


    }

    button {
      color: #FFFFFF;
      border: none;
      border-radius: 4.5rem;
      margin-top: 2rem;
      cursor: pointer;
      padding: 2% 5%;
      background-color: #FF0513;
    }
  }
}




#section--8 {
  background-color: #040B33;
  color: $wh-color;
  text-align: center;

  hr {
    background-color: #FFFFFF;
    width: 100%;
    color: #FFFFFF;
    opacity: .2;
  }

  h1 {
    font-size: clamp(2.5rem, 6vw, 6rem);
    font-weight: 500;
  }
}

.footerLinks {
  color: $wh-color;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: $wh-color;
    margin-left: 3px;
    text-decoration: none;
    font-weight: 200;
    font-size: clamp(.7rem, 1.5vw, 1.6rem);

    &:hover {
      color: $hov-color;
    }
  }
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  height: 100%;

  p {
    text-transform: capitalize;
  }
}



@media screen and (max-height: 400px) {
  #section--3 {
    height: auto;
  }
}

@media only screen and (max-width : 575px) {

  .myImage {
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  #section--3 {
    box-shadow: 0px -10px 20px 4px black;
  }

}

@media screen and (max-width:425px) {

  #section--3 {
    height: auto;
  }

  .customBTN1 {

    transform: translateX(100%);
  }

  .card {
    margin-bottom: 7%;
  }

  .sec4Content {
    margin: 1% 0%;

  }

  .mg {
    margin: 3% 0%;
  }

  .s5headerText {
    margin-bottom: 0%;
  }

  .s6headerTitle {

    h1 {


      &::after {
        content: '';
        width: clamp(5.5rem, 15vw, 15rem);
        top: 3%;

      }
    }
  }

}